body {
    font-family: Arial, sans-serif;
}
.header {
    background: rgb(1, 57, 106);
    color: white;
    padding: 20px;
    text-align: left;
    width: auto;
    align-items:center;
    height: 180px;
}
.header p,h1,h2{
    margin-bottom: 10px ;
    margin-top: 10px;
}
.header p {
    color: rgb(138, 171, 190);
}
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 71, 133);
}
.nav li {
    float: left;
}
.nav li a {
    display: block;
    color: rgb(138, 171, 190);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: 0.5px solid ;
}
.nav li a:hover {
    opacity: 0.5;
}
.logo{
    position: absolute;
    top: 5%;
    left: 45%;
    right: 50%;
    margin: 1%;
    hight: auto;
    width: 120px;
    }
.logo:hover{
    filter: invert(100%) grayscale(100%);
}
.search-bar {
position: absolute;
top: 100px;
right: 30px; 
width: 200px;
padding: 12px 50px; 
border: 1px solid #ccc;
background-color: rgb(0, 71, 133);
}
.plnNc{

position: absolute;
font-size: small;
top: 35px;
right: 30px; 
width: auto;
padding: 8px; 
}
a{
text-decoration: none;
color: rgb(138, 171, 190);
}
.icons{
position: absolute;
top: 243px;
right: 40px;
}
.icons a{
margin-left: 10px;
color: white;
}